body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-box {
  width: 320px;
  height: 420px;
  background: #555;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 10px;
}
.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.login-box p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.login-box select {
  height: 40px;
}
.login-box select,
button {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.login-box .btn-submit {
  border: none;
  outline: none;
  height: 40px;
  background: #00897b;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
}
.login-box .btn-submit:hover {
  cursor: pointer;
  background: #c79602;
  color: #fff;
}
.login-box a {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.login-box a:hover {
  cursor: pointer;
  color: #ffc107;
}
/*Nav*/
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background: #f3f3f3;
}
.nav-item {
  float: left;
  margin-left: 30px;
}
.nav-item a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-item a:hover:not(.active) {
  background-color: #ddd;
}
.nav-item a.active {
  background-color: #00897b;
  color: #fff;
}
.user-greeting {
  display: block;
  color: #666;
  text-align: center;
  padding-top: 14px;
  padding-left: 5px;
  padding-right: 14px;
  text-decoration: none;
  float: right;
}
.user-avatar {
  float: right;
  margin-top: 4px;
}
.logout {
  float: right;
  margin-right: 30px;
}
/*Dashboard*/
.tabs-container {
  border: 0.5px solid #e7e7e7;
  border-radius: 3px;
}
.questions-container {
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  margin: 0px 150px;
}
.questions-container ul {
  list-style-type: none;
}

.questions-container ul li {
  padding: 10px;
}
.MuiTab-textColorPrimary.Mui-selected {
  color: #00897b !important;
  font-size: 1.5rem !important;
}
/*Question*/
.title-item {
  height: 195px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 0;
  width: 550px;
  margin: 0 auto;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

.title-body {
  padding: 12px;
}

.header {
  height: 40px;
  line-height: 40px;
  border-bottom: 3px solid #00897b;
  color: #c4c4c4;
  font-weight: 600;
  font-size: 1.3rem;
}

.title-left {
  width: 20%;
  display: inline-block;
  border-right: 2px solid #ccc;
}

.question-body {
  width: 72%;
  float: right;
  text-align: left;
  margin-left: 10px;
}
.question-body2 {
  width: 72%;
  float: right;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

.question-head {
  font-size: 1.2rem;
  font-weight: 700;
}

.question-text {
  margin: 12px 0;
  font-size: 1.1rem;
}
.btn-vw {
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #fefefe;
  cursor: pointer;
  background: #00897b;
  font-size: 18px;
  width: 80px;
  position: relative;
  outline: none;
  float: right;
  color: #fff;
  border-radius: 10px;
}
button.disabled {
  background: #8cb4b0;
  color: #fff;
  width: 80px;
  float: right;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
}
.btn-active {
  background: #00897b;
  color: #fff;
  width: 80px;
  float: right;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
}

.btn-active:hover,
.btn-vw:hover {
  background: #b38705;
  font-weight: 700;
}

/*Question Detail*/
.option-container {
  margin: 10px;
  border-radius: 6px;
  background: #eee;
  padding: 10px;
  border: 1px solid #c2c2c2;
  position: relative;
}

.option-container.selected {
  border-color: transparent;
  color: #fff;
  background: #00897b;
}

.option {
  margin: 5px 0;
  cursor: pointer;
}
.option-selected {
  color: #00897b;
}
.question-detail {
  height: 300px;
}

.question-detail .title-left {
  padding-top: 45px;
  padding-bottom: 45px;
}
/*New Question*/
.new-question {
  text-align: center;
}
.new-question h3 {
  color: #555;
}
.new-question h2 {
  color: #00897b;
}
.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 50px;
  min-width: 120px;
  width: 30%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  justify-content: center;
}
.textarea:focus {
  outline: none !important;
  border-color: #00897b;
}
.btn {
  width: 30%;
}
/*LeaderBoard*/
.leaderboard-table {
  padding-top: 10px;
  width: 60%;
  margin: 0 auto;
}
.small-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  vertical-align: middle;
}
.leader-name {
  padding-left: 5px;
}
